.navigation {
  height: 12.5vh;
  background-color: #d9b391;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.active {
  box-shadow: gold 0px 3px 20px;
  border-radius: 50px;
}

.btn {
  width: 200px;
}
